<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8" />
        <link th:href="@{/css/tailwind.output.css}" rel="stylesheet">
    </head>

    <body class="flex flex-col min-h-screen">
        <header th:replace="fragments/header :: headerFragment"></header>

        <section layout:fragment="content" class="flex-1 pt-24 dark:bg-[#121212] dark:text-white">
            <span>내용</span>
        </section>

        <footer th:replace="fragments/footer :: footerFragment"></footer>

        <script th:src="@{/js/common.js}"></script>
    </body>

</html>