<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="dark:bg-black">

    <head>
        <meta charset="UTF-8" />
        <link th:href="@{/css/tailwind.output.css}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
        <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
    </head>

    <body class="flex flex-col min-h-screen">
        <header th:replace="fragments/header :: headerFragment"></header>

        <div th:text="${message}"></div>

        <section layout:fragment="content" class="flex-1 pt-24 dark:bg-[#121212] dark:text-white">
            <div>내용</div>
        </section>

        <footer th:replace="fragments/footer :: footerFragment"></footer>

        <script th:src="@{/js/common.js}"></script>
    </body>

</html>