<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout.html}">

    <head>
        <title>detail</title>
    </head>

    <body>
        <section layout:fragment="content">
            <div class='flex py-8 items-center justify-center'>
                <article class="w-full max-w-lg mx-auto break-inside p-6 rounded-xl bg-white flex flex-col bg-clip-border shadow-lg">
                    <div class="flex pb-6 items-center justify-between">
                        <div class="flex">
                            <a class="inline-block mr-4" href="#"><img class="rounded-full max-w-none w-12 h-12" src="https://randomuser.me/api/portraits/men/35.jpg" /></a>
                            <div class="flex flex-col">
                                <div>
                                    <a th:text="${article.writer}" class="inline-block text-lg font-bold" href="#">글쓴이</a>

                                </div>
                                <div class="text-slate-500">
                                    <span th:text="${article.orderlyDate}" class="text-slate-500">2022월 3월 2일</span>
                                    <span th:text="|(${article.compareCurrentAndPastDates})|" class="text-slate-500">1주 전</span>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()"
                             th:if="${#authentication.principal.userId} == ${article.userId}">
                            <a th:href="@{/article/modify(id=${article.articleId})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                수정
                            </a>
                            <a th:href="@{/article/delete(id=${article.articleId})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                삭제
                            </a>
                        </div>
                    </div>
                    <h2 th:text="${article.title}" class="text-3xl font-extrabold mb-2"></h2>
                    <p th:text="${article.content}"></p>
                    <div class="py-4">
                        <a th:href="@{/reaction(
                            id=${article.articleId},
                            type='ARTICLE',
                            point='GOOD',
                            redirect='/article/detail')}"
                           class="inline-flex items-center mr-2">
                            <span class="mr-2">
                                <svg class="fill-rose-600" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                                    <path
                                            d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                    </path>
                                </svg>
                            </span>
                            <span th:text="${article.goodReactionPoint}" class="text-lg font-bold">34</span>
                        </a>
                        <a th:href="@{/reaction(
                            id=${article.articleId},
                            type='ARTICLE',
                            point='BAD',
                            redirect='/article/detail'
                            )}"
                           class="inline-flex items-center" href="#">
                            <span class="mr-2">
                            <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                                <path
                                        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                </path>
                            </svg>
                            </span>
                            <span th:text="${article.badReactionPoint}" class="text-lg font-bold">34</span>
                        </a>
                    </div>
                    <div class="relative">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}">
                            <input type="text" placeholder="댓글 추가..." class="pt-2 pb-2 pl-3 w-full h-11 bg-slate-100 rounded-lg placeholder:text-slate-600 font-medium pr-20"/>
                            <button type="button" class="flex absolute right-3 top-2/4 -mt-3 items-center">
                                <svg class="fill-blue-500" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                                    <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                                </svg>
                            </button>
                        </a>
                        <form sec:authorize="isAuthenticated()" th:action="@{/reply}" th:object="${requestReply}" method="POST">
                            <input  th:field="*{content}" type="text" placeholder="댓글 추가..." class="pt-2 pb-2 pl-3 w-full h-11 bg-slate-100 rounded-lg placeholder:text-slate-600 font-medium pr-20"/>
                            <button type="submit" class="flex absolute right-3 top-2/4 -mt-3 items-center">
                                <svg class="fill-blue-500" style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                                    <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z"></path>
                                </svg>
                            </button>
                            <input th:name="relId" th:value="${article.articleId}" type="hidden"/>
                            <input th:name="relType" value="ARTICLE" type="hidden"/>
                            <input th:name="redirectUri" value="/article/detail" type="hidden"/>
                        </form>
                    </div>
                    <div class="pt-6">
                        <div id="comments"></div>
                        <div id="moreComments" class="w-full">
                            <button class="py-3 px-4 w-full block bg-slate-100 text-center rounded-lg font-medium hover:bg-slate-200 transition ease-in-out delay-75">Show
                                more comments
                            </button>
                        </div>
                    </div>
                </article>
            </div>

            <!-- reply comments row template -->
            <template id="commentRows">
                <div class="media flex pb-4">
                    <a class="mr-4" href="#">
                        <img class="rounded-full max-w-none w-12 h-12" src="https://randomuser.me/api/portraits/men/82.jpg" />
                    </a>
                    <div class="media-body">
                        <div>
                            <a class="inline-block text-base font-bold mr-2" href="#">{writer}</a>
                            <span class="text-slate-500">{compareCurrentAndPastDates}</span>
                        </div>
                        <p>{content}</p>
                        <div class="mt-2 flex items-center">
                            <a class="inline-flex items-center py-2 mr-3" href="#">
                                        <span class="mr-2">
                                            <svg class="fill-rose-600" style="width: 22px; height: 22px;"
                                                 viewBox="0 0 24 24">
                                            <path
                                                    d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                            </path>
                                            </svg>
                                        </span>
                                <span class="text-base font-bold">12</span>
                            </a>
                            <button class="py-2 px-4 font-medium hover:bg-slate-50 rounded-lg">
                                Reply
                            </button>
                        </div>
                    </div>
                </div>
            </template>
        </section>

        <script layout:fragment="javascript" th:inline="javascript">
            let page = 0;

            function reply_list() {
                $.ajaxSetup({
                    url: '/reply',
                    global: false,
                    type: "GET"
                });

                $.ajax({
                    data: {
                        relId: [[${article.articleId}]],
                        relType: "ARTICLE",
                        page: page
                    }
                })
                .done(function (replies) {
                    console.log("성공");

                    replies.map((reply) => {
                        let result = $("#commentRows").html()
                            .replace("{writer}", reply.writer)
                            .replace("{content}", reply.content)
                            .replace("{compareCurrentAndPastDates}", reply.compareCurrentAndPastDates);

                        $("#comments").append(result);
                    })

                    if (replies.length < 2) {
                        $("#moreComments").remove();
                    }

                    page++;
                })
                .fail(function (xhr, status, errorThrown) {
                    console.log("오류")
                });
            }

            $(function() {
                reply_list();

                $("#moreComments").click(function (){
                    reply_list();
                });
            });
        </script>
    </body>
</html>
