<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout.html}">

<head>
    <title>list</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="bg-white p-8 rounded-md w-full text-black">
            <div class=" flex items-center justify-between pb-6">
                <div>
                    <h2 class="text-gray-600 font-semibold">Article List</h2>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex bg-gray-50 items-center p-2 rounded-md">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                  clip-rule="evenodd" />
                        </svg>
                        <form th:action="@{/article}" class="flex">
                            <input class="bg-gray-50 outline-none ml-1 block " type="text" name="search" id="search" placeholder="search...">
                            <button class="p-2 border bg-blue-500 ml-2 rounded">검색</button>
                        </form>
                    </div>
                    <div class="lg:ml-12 ml-10 space-x-8">
                        <a sec:authorize="isAnonymous()" th:href="@{/login}" class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Create</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/article/create}" class="bg-indigo-600 px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer">Create</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Number</th>
                                    <th class="w-[55%] text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Title</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Like</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Dislike</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">author</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Hits</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Created at</th>
                                    <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Modified date</th>
                                </tr>
                            </thead>
                            <tbody th:each="article, index : ${articles}">
                                <tr th:onclick="|location.href='@{'/article/detail?id=' + ${article.articleId}}'|"
                                    class="hover:cursor-pointer hover:text-red-500">
                                    <td th:text="${page.startPoint + index.count}" class="text-center py-5 border-b border-gray-200 bg-white text-sm"></td>
                                    <td th:text="${article.title}" class="w-[55%] text-center py-5 border-b border-gray-200 bg-white text-sm"></td>
                                    <td class="text-center py-5 border-b border-gray-200 bg-white text-sm">
                                        <a class="flex justify-center items-center" href="#">
                                            <svg class="fill-rose-600" style="width: 24px; height: 24px;" viewBox="-3 -3 32 32">
                                                <path
                                                        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                                </path>
                                            </svg>
                                            <span th:text="${article.goodReactionPoint}" class="font-bold"></span>
                                        </a>
                                    </td>
                                    <td class="text-center py-5 border-b border-gray-200 bg-white text-sm">
                                        <a class="flex justify-center items-center" href="#">
                                            <svg class="" style="width: 24px; height: 24px;" viewBox="-3 -3 32 32">
                                                <path
                                                        d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                                </path>
                                            </svg>
                                            <span th:text="${article.badReactionPoint}" class="font-bold"></span>
                                        </a>
                                    </td>
                                    <td th:text="${article.writer}" class="text-center py-5 border-b border-gray-200 bg-white text-sm">글쓴이</td>
                                    <td class="text-center py-5 border-b border-gray-200 bg-white text-sm">0</td>
                                    <td th:text="${article.createdDate}" class="text-center py-5 border-b border-gray-200 bg-white text-sm"></td>
                                    <td th:text="${article.modifiedDate}" class="text-center py-5 border-b border-gray-200 bg-white text-sm"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div th:if="${page.isExist}" class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between">
                            <span class="text-xs xs:text-sm text-gray-900">
                                Showing <span th:text="${page.currentNumber}">1</span> to <span th:text="${page.totalPages}">4</span> of <span th:text="${page.totalArticles}">50</span> Entries
                            </span>
                            <div class="inline-flex mt-2 xs:mt-0">
                                <button th:classappend="${page.haveNoPrevious} ? 'disabled'"
                                        class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-l">
                                    <a th:href="@{|?page=${page.previous}&search=${search}|}">Prev</a>
                                </button>
                                &nbsp; &nbsp;
                                <button th:classappend="${page.haveNoNext} ? 'disabled'"
                                        class="text-sm text-indigo-50 transition duration-150 hover:bg-indigo-500 bg-indigo-600 font-semibold py-2 px-4 rounded-r">
                                    <a th:href="@{|?page=${page.next}&search=${search}|}">Next</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>