<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">

    <head>
        <title>ajax test</title>
    </head>

    <body>
        <section layout:fragment="content">

            <div id="comments" class="pt-6">
                <div id="moreComments" class="w-full">
                    <a href="#"
                       class="py-3 px-4 w-full block bg-slate-100 text-center rounded-lg font-medium hover:bg-slate-200 transition ease-in-out delay-75">Show
                        more comments</a>
                </div>
            </div>

            <!-- reply comments row template -->
            <template id="commentRows">
                <div class="media flex pb-4">
                    <a class="mr-4" href="#">
                        <img class="rounded-full max-w-none w-12 h-12" src="https://randomuser.me/api/portraits/men/82.jpg" />
                    </a>
                    <div class="media-body">
                        <div>
                            <a class="inline-block text-base font-bold mr-2" href="#">{writer}</a>
                            <span class="text-slate-500">{createdDate}</span>
                        </div>
                        <p>{content}</p>
                        <div class="mt-2 flex items-center">
                            <a class="inline-flex items-center py-2 mr-3" href="#">
                                        <span class="mr-2">
                                            <svg class="fill-rose-600" style="width: 22px; height: 22px;"
                                                 viewBox="0 0 24 24">
                                            <path
                                                    d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z">
                                            </path>
                                            </svg>
                                        </span>
                                <span class="text-base font-bold">12</span>
                            </a>
                            <button class="py-2 px-4 font-medium hover:bg-slate-50 rounded-lg">
                                Reply
                            </button>
                        </div>
                    </div>
                </div>
            </template>
        </section>

        <script layout:fragment="javascript">

            function test() {
                $.ajaxSetup({
                    url: '/reply',
                    global: false,
                    type: "GET"
                });

                $.ajax({
                    data: {
                        relId: "7c732c9d-3e66-49ae-9fac-9a4697fd40ab",
                        relType: "ARTICLE"
                    }
                })
                .done(function (array) {
                        console.log("성공");

                        array.map((reply) => {
                            let result = $("#commentRows").html()
                                        .replace("{writer}", reply.writer)
                                        .replace("{content}", reply.content)
                                        .replace("{createdDate}", reply.createdDate);

                            $("#moreComments").prepend(result);
                        })
                })
                .fail(function (xhr, status, errorThrown) {
                        console.log("오류")
                        console.log("xhr: " + xhr)
                        console.log("status: " + status)
                        console.log("errorThrown" + errorThrown)
                })
                .always(function(xhr, status) {
                        console.log("항상 실행");
                        console.log("xhr: " + xhr)
                        console.log("status: " + status)
                });
            }

            function ajax_get() {
                $.get("/reply",
                    {
                        age: 19
                    },
                    function (data, status) {
                        console.log("data.age: " + data.age)
                        console.log("status: " + status)
                    }
                );
            }

            function init() {
                test();
            }

            init();
        </script>

    </body>

</html>